body {
    margin-top: 200px;
}

.container {
    margin: 1rem;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
}
  
.box {
    width: 100px;
    height: 100px;
    background: #44bba4;
    display: inline-block;
}

img {
    width: 200px;
}
  