
/* Variable definition */
:root {
    --ff-primary: 'Merriweather Sans', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #16e0bd;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
}

h1 {
    font-size: var(--fs-h1);
    margin: 0;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid steelblue;
}

.container {
    padding: 0;
    margin: 2rem 10%;
    background-image: url("../img/weather-background.jpg");
    background-repeat:round;
    border-radius: 15px;
}

.information-container {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid steelblue;

}

p {
    margin: 0;
}

.search-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid steelblue;
}

.option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.option-container-one, .option-container-two {
    display: flex;
    margin: 1rem 2rem;
}

input {
    margin-right: .5rem;
}

.current-temp {
    font-size: 7rem;
    text-align: center;
}

.current-temp-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.current-icon {
    width: fit-content;
    height: fit-content;
    margin: auto 0;
}

.place {
    margin: 2rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.current-temp-info {
    display: flex;
}

.current-temp-icon {
    text-align: center;
    margin-left: .5rem;
}

.current-temp-container-extra {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.automatic-check {
  width: 20px;
  height: 20px;
  border: solid red;
  border-width: 3px;
  cursor: pointer;
}

label {
    cursor: pointer;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 .50rem;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: .75rem .50rem;
    width: 250px;
    height: 205px;
    border: 1px solid blue;
    background-color: steelblue;
    border-radius: 15px;
}

.cards img {
    width: fit-content;
    height: fit-content;
    margin: auto 0;
}

h2 {
    text-align: center;
}

.day, .temp-day {
    margin-top: 1rem;
}

@media (max-width: 800px) {
    .option-container {
        flex-direction: column;
    }
    .option-container-one, .option-container-two {
        flex-direction: row;
        justify-content: center;
    }
    input {
        margin-right: .5rem;
    }
    .current-temp-container {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
    }
    .current-icon {
        margin: 0 auto;
    }
    .current-temp-info {
        flex-direction: column;
    }
    .current-temp-container-extra {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .current-temp-icon {
        margin-left: 0;
    }
}

@media (max-width: 340px) {
    .option-container-one, .option-container-two {
        flex-direction: column;
        justify-content: center;
    }
    input {
        margin-right: 0;
        margin-bottom: .5rem;
    }
    .current-temp-container {
        flex-direction: column;
    }
}