/* Variable definition */
:root {
    --ff-primary: 'Montserrat', sans-serif;
    
    --fw-reg: 400;
    --fw-bold: 900;
    
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #83e0d1;
    
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

body {
    margin: 0;
    font-size: var(--fs-body);
    font-family: var(--ff-primary);
    color: var(--clr-dark);
}

h1 {
    font-family: var(--ff-secondary);
    font-size:var(--fs-h1);
    color: var(--clr-dark);
    text-align: center;
    margin: 0;
    padding: 2rem;
}

.container {
    margin: 25px auto;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 10px;
}

.todo-item {
    display: block;
    margin: 1.5rem auto;
    width: 75%;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid #D9AFD9;
}

.todo-item:hover, .todo-item:focus {
    border: 1px solid #97D9E1;
}

.add-item {
    display: block;
    margin: 1.5rem auto;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #97D9E1;
    border: 1px solid #97D9E1;
    transition: all 1s ease;
    transform: scale(1);
    font-size: var(--fs-h3);
}

.add-item:active {
    transform: translate(0px, 5px);
}

.add-item:hover {
    background-color: #D9AFD9;
    transform: scale(1.5) perspective(1px);
    font-weight: 700;
}

.delete-all-items {
    display: block;
    margin: 1.5rem auto;
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    background-color: #97D9E1;
    border: 1px solid #97D9E1;
    transition: all 1s ease;
    transform: scale(1);
    font-size: var(--fs-h3);
}

.delete-all-items:active {
    transform: translate(0px, 5px);
}

.delete-all-items:hover {
    background-color: #D9AFD9;
    transform: scale(1.5) perspective(1px);
    font-weight: 700;
}

.list-item {
    list-style-type: none;
    margin: .75rem;
    width: auto;
}

.list-eleemnts {
    margin: 0;
}

.btn {
    margin: .5rem;
    width: 30px;
    height: 30px;
    border-radius: 50px;
}

.btn-complete {
    background-color: #BAFFB4;
    transition: all 1s ease;
    transform: scale(1);
    color: green;
}

.btn-complete:hover {
    transform: scale(1.5) perspective(1px);
}

.btn-cancel {
    background-color: #FF6363;
    transition: all 1s ease;
    transform: scale(1);
    color: purple;
}

.btn-cancel:hover {
    transform: scale(1.5) perspective(1px);
}

.task-done, .task-cancel {
    margin: .25rem 2rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

span {
    display: block;
    margin: 0 2rem;
    font-size: var(--fs-h3);
}

h2 {
    font-size: var(--fs-h3);
    text-align: center;
}

.fa-check-custom {
    color: green;
    font-size: var(--fs-h3);
    margin: .25rem;
}

.fa-times-custom {
    color: maroon;
    font-size: var(--fs-h3);
    margin: .25rem;
    margin-bottom: 1rem;
}

.container-button {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}

.container-chart {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        width: 480px;
        height: auto;
    }
}
  
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .container {
        width: 600px;
        height: auto;
    }
}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
        height: auto;
    }
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container {
        width: 992px;
        height: auto;
    }
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
        height: auto;
    }
}